@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h3>@ViewData["FoxText"]</h3>
    <h2>@ViewBag.FoxText</h2>
    <h3>@ViewData["Question"]</h3>
    <h2>@ViewBag.Question</h2>
</div>